@page "/Students/create"
@inject StudentService Data
@inject NavigationManager Nav

<h3>Create new student</h3>

<EditForm Model="NewStudent"
          FormName="CreateStudent"
          OnSubmit="OnSave">


    <div class="form-group">
        <label for="txtFirstname">Firstname:</label>
        <InputText @bind-Value="NewStudent.Firstname"
                   class="form-control"
                   id="txtFirstname" />
    </div>

    <div class="form-group">
        <label for="txtLastname">Lastname:</label>
        <InputText @bind-Value="NewStudent.Lastname"
                   class="form-control"
                   id="txtLastname" />
    </div>

    <div class="form-group">
        <label for="txtBirthPlace">BirthPlace:</label>
        <InputText @bind-Value="NewStudent.BirthPlace"
                   class="form-control"
                   id="txtBirthPlace" />
    </div>

    <div class="form-group">
        <label for="txtBirthDate">BirthDate:</label>
        <InputDate @bind-Value="NewStudent.BirthDate"
                   class="form-control"
                   id="txtBirthDate" />
    </div>
    <div class="form-group">
        <label for="txtFiscalCode">Fiscal Code:</label>
        <InputText @bind-Value="NewStudent.FiscalCode"
                   class="form-control"
                   id="txtFiscalCode" />
    </div>
    <div class="form-group">
        <label for="txtEmail">Email:</label>
        <InputText @bind-Value="NewStudent.Email"
                   class="form-control"
                   id="txtEmail" />
    </div>
    <div class="form-group">
        <label for="txtIban">IBAN:</label>
        <InputText @bind-Value="NewStudent.Iban"
                   class="form-control"
                   id="txtIban" />
    </div>
    <div class="form-group">
        <label for="txtCourseName">Course Name:</label>
        <InputText @bind-Value="NewStudent.CourseName"
                   class="form-control"
                   id="txtCourseName" />
    </div>


    <br />
    <button type="submit" class="btn btn-primary">Insert</button>
    <a class="btn btn-secondary" href="/">Cancel</a>
    <hr />
</EditForm>


@code {

    [SupplyParameterFromForm]
    private Student NewStudent { get; set; } = new();

    protected override void OnInitialized()
    {

    }

    private async Task OnSave()
    {
        await Data.InsertStudentAsync(NewStudent);
        Nav.NavigateTo("/");
    }

}