@page "/Students/delete/{id:int}"
@inject StudentService Data
@inject NavigationManager Nav

<h3>Delete</h3>

<EditForm Model="this"
          FormName="DeleteStudent"
          OnSubmit="OnDelete">
    @if (_student is not null)
    {
        <div class="alert alert-danger" role="alert">
            Sicuro di voler cancellare Student "@_student.Id"?

            <button type="submit" class="btn btn-danger">Yes</button>
            <a class="btn btn-secondary" href="/">No</a>
        </div>
    }
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private Student _student;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            _student = await Data.GetStudentAsync(Id);
        }
    }

    private async Task OnDelete()
    {
        await Data.DeleteStudentAsync(Id);
        Nav.NavigateTo("/");
    }

}
