@page "/"
@inject StudentService StudentData
@inject TicketService TicketData

<PageTitle>Its</PageTitle>

<h1>Students</h1>

<a class="btn btn-primary"
   href="/create">Create new student</a>

<hr />

<h1>Tickets</h1>

<a class="btn btn-primary"
   href="/Tickets/create">Create new ticket</a>

<hr />

@*
@foreach (var item in _studentList)
{
    <div>
        <h2>@item.</h2>
        <p>phone: <strong>@item.</strong></p>
        <a class="btn btn-primary" href="/details/@item.Id">Details</a>
        <a class="btn btn-primary" href="/edit/@item.Id">Edit</a>
        <a class="btn btn-warning" href="/delete/@item.Id">Delete</a>
    </div>
    <hr />
}
*@

@code {
    private IEnumerable<Student> _studentList = [];
    private IEnumerable<Ticket> _ticketList = [];

    protected override async Task OnInitializedAsync()
    {
        _studentList = await StudentData.GetStudentsAsync();
        _ticketList = await TicketData.GetTicketsAsync();
    }

}
