@page "/"

@inject StudentService Data

<PageTitle>Urls</PageTitle>

<h1>Urls</h1>

<a class="btn btn-primary"
   href="/create">Create new url</a>

<hr />

@foreach (var item in _list)
{
    <div>
        <h2>@item.</h2>
        <p>phone: <strong>@item.</strong></p>
        <a class="btn btn-primary" href="/details/@item.Id">Details</a>
        <a class="btn btn-primary" href="/edit/@item.Id">Edit</a>
        <a class="btn btn-warning" href="/delete/@item.Id">Delete</a>
    </div>
    <hr />
}

@code {
    private IEnumerable<Student> _list = [];

    protected override async Task OnInitializedAsync()
    {
        _list = await Data.GetStudentsAsync();
    }

}
